*~
*.rej
*.o
*.so
*.la
*.lo
.libs
.hmake
aclocal.m4
ar-lib
autom4te.cache
compile
config.log
config.status
config.cache
staging
config.guess
config.sub
configure
install-sh
ltmain.sh
missing
Makefile.in
**/*/Makefile.in
